VerticalSliceArchitectureWithCQRS/.vs/
VerticalSliceArchitectureWithCQRS/VerticalSliceArchitectureWithCQRS/obj/
VerticalSliceArchitectureWithCQRS/VerticalSliceArchitectureWithCQRS/bin/
VerticalSliceArchitectureWithCQRS/VerticalSliceArchitectureWithCQRS.Share/bin/
VerticalSliceArchitectureWithCQRS/VerticalSliceArchitectureWithCQRS.Share/obj/
